@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-cinzel: var(--font-cinzel);
  --color-red: var(--red);
  --color-offred: var(--offred);
  --color-brown: var(--brown);
  --color-white: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --red: #c10617;
    --offred: #ce3d49;
    --brown: #4c4645;
    --white: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: var(--red)
}